<?xml version="1.0" encoding="utf-8"?>
<config>
  <!--Настройки для доступа к БД-->
  <db>
    <!-- Имя пользователя БД -->
    <user>root</user>
    <!-- Пароль к БД -->
    <pass>password</pass>
    <!-- DSN строка для PDO объекта -->
    <dsn>mysql:host=mysql:3306;dbname=raznosilka</dsn>
  </db>
</config>
